<?xml version="1.0" encoding="UTF-8"?>

<!-- 
	beans元素
		命名空间
		xml约束实例
		命名空间和xml约束文件的对应关系
	bean元素
		id
		类路径
		属性
			名称
			值
 -->
 
 <beans xmlns="http://www.springframework.org/schema/beans"
 	xmlns:c="http://www.springframework.org/schema/c" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" 
 	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 	xsi:schemaLocation="http://www.springframework.org/schema/beans 
 		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
 	http://www.springframework.org/schema/util 
 	http://www.springframework.org/schema/util/spring-util.xsd" >
 		
 	<bean id="role1" class="com.spring.test.bean.Role">
 		<property name="id" value="1001"/>
 		<property name="name" value="李荣浩"/>
 	</bean>
 	
 	
 	
 	<bean id="role2" class="com.spring.test.bean.Role">
 		<property name="id" value="1002"/>
 		<property name="name" value="李荣浩2"/>
 	</bean>
 	
 	<bean id="role3" class="com.spring.test.bean.Role" c:_0="1003"
 		c:_1="李太白" />
	
	<bean id="role4" class="com.spring.test.bean.Role" p:id="1004"
 		p:name="李太白和李荣浩" />
	
	<bean id="user1" class="com.spring.test.bean.User">
 		<property name="id" value="1008"/>
 		<property name="name" value="李白"/>
 	</bean>
 	
 	<bean id="user2" class="com.spring.test.bean.User">
 		<property name="id" value="10034"/>
 		<property name="name" value="李白2"/>
 	</bean>
 	
 	<bean id="testSetBean2" class="com.spring.test.bean.TestSetBean2">
 		<property name="id" value="1001"/>
 		<property name="name" value="李荣浩的李白"/>
 		<property name="set">
 			<set>
 				<ref bean="user1"/>
 				<ref bean="user2"/>
 			</set>
 		</property>
 		
 		<property name="map">
 			<map>
 				<entry key-ref="role1" value-ref="user1"/>
 				<entry key-ref="role2" value-ref="user1"/>
 			</map>
 		</property>
 		<property name="list">
 			<list>
 				<ref bean="role1"/>
 				<ref bean="role2"/>
 			</list>
 		</property>
 		
 		<property name="array">
 			<array>
 				<ref bean="role1"/>
 				<ref bean="role2"/>
 			</array>
 		</property>
 		
 	</bean>
 	
 	<bean id="testSetBean" class="com.spring.test.bean.TestSetBean">
 		<property name="id" value="1001"/>
 		<property name="list">
 			<list>
 				<value>value-list-1</value>
 				<value>value-list-2</value>
 				<value>value-list-3</value>
 			</list>
 		</property>
 		<property name="name" value="李白"/>
 		<property name="map">
 			<map>
 				<entry key="key1" value="value-key-1"/>
 				<entry key="key2" value="value-key-2"/>
 				<entry key="key3" value="value-key-3"/>
 			</map>
 		</property>
 		<property name="properties">
			<props>
				<prop key="prop1">value-prop-1</prop>
				<prop key="prop2">value-prop-2</prop>
				<prop key="prop3">value-prop-3</prop>
			</props>
 		</property>
 		<property name="set">
 			<set>
 				<value>value-set-1</value>
 				<value>value-set-2</value>
 				<value>value-set-3</value>
 			</set>
 		</property>
 		<property name="array">
 			<array>
 				<value>value-array-1</value>
 				<value>value-array-2</value>
 				<value>value-array-3</value>
 			</array>
 		</property>
 	</bean>
 	
 	
 		
 	<bean id="source" class="com.spring.test.bean.Source">
 		<property name="fruit"  value="橙汁"/>
 		<property name="sugar"  value="少糖"/>
 		<property name="size"  value="大杯"/>
	</bean>	
 		
 	<bean id="juiceMakerIOC" class="com.spring.test.bean.JuiceMakerIOC"
 		destroy-method="destory" init-method="init" >
 		<property name="yinLiaoShop" value="天天向上饮料店"/>
 		<property name="source" ref="source"/>
 	</bean>
 		
 
 </beans>