<?xml version="1.0" encoding="UTF-8"?>

<!-- 
	约束条件
	mapper
		namespace
		sql

 -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.mybatis.xmlYingSheQi3.PeopleMapper">
	<resultMap type="people" id="peopleMapper">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="sex" column="sex" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
	</resultMap>
	
	<select id="getPeopleByID" parameterType="int" resultType="people" resultMap="peopleMapper">
		select id, name, sex from people where id = #{id}
	</select>
	
	<select id="getAllPeople" resultType="people" resultMap="peopleMapper">
		select id, name, sex from people
	</select>
	
	<insert id="addPeople" parameterType="people">
		insert into people(id, name, sex) values(#{id}, #{name})
	</insert>
	
	<update id="updatePeople" parameterType="people">
		update people set name = #{name} where id = #{id}
	</update>
	
	<delete id="deletePeople" parameterType="int">
		delete from people where id = #{id}
	</delete>
	
</mapper>