<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration   PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	
	<!-- 定义类型别名 -->
	<typeAliases>
		<package name="com.test.mybatis.modul"/>
		<package name="com.test.mybatis.xmlYingSheQi3"/>
	</typeAliases>

	<!-- 这是声明类型处理器的地方 -->
	<typeHandlers>
		<package name="com.test.mybatis.typehander"/>
	</typeHandlers>

	<!-- 数据库环境 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" /> <!-- 事务管理器 ，此处采用JDBC事务管理器模式 -->
			<!-- 配置数据库， POOLED 表示当前使用mybatis内部提供的连接池的方式 -->
			<dataSource type="POOLED">
				<!-- JDBC的属性信息 -->

				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://127.0.0.1:3306/tmpTest?serverTimezone=UTC" />

				<property name="username" value="root" />
				<property name="password" value="root" />
			</dataSource>
		</environment>
	</environments>
	<!-- 映射文件 -->
	<!-- 代表引入哪些映射器 -->
	<mappers>
		<!-- 此处使用包扫描器不稳定，优先使用resource的方式 -->
		<mapper resource="com/test/mybatis/xmlYingSheQi3/PeopleMapper.xml"/>
		<mapper resource="com/test/mybatis/mapper/TaskMapper.xml"/>
		<mapper resource="com/test/mybatis/mapper/WorkCardMapper.xml"/>
		<mapper resource="com/test/mybatis/mapper/EmployeeTaskMapper.xml"/>
		<mapper resource="com/test/mybatis/mapper/WorkCardMapper.xml"/>
		<mapper resource="com/test/mybatis/mapper/FemaleHealthFormMapper.xml"/>
		<mapper resource="com/test/mybatis/mapper/MaleHealthFormMapper.xml"/>
		<mapper resource="com/test/mybatis/mapper/MaleEmployeeMapper.xml"/>
		<!-- <mapper resource="com/test/mybatis/mapper/MaleEmployeeMapper.xml"/>
		<mapper resource="com/test/mybatis/mapper/MaleEmployeeMapper.xml"/> -->
		<!-- <package name="com.test.mybatis.xmlYingSheQi3"/>
		<package name="com.test.mybatis.mapper"/> -->
	</mappers>
</configuration>