<?xml version="1.0" encoding="UTF-8"?>

<!-- 
	添加约束
	定义SQL
 -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.test.mybatis.mapper.MaleHealthFormMapper">
	<resultMap type="maleHealthForm" id="maleHealthFormMapper">
		<id property="id" column=""/>
		<id property="id" column="id"/>
		<result property="empId" column="emp_id"/>
		<result property="heart" column="heart"/>
		<result property="liver" column="liver"/>
		<result property="spleen" column="spleen"/>
		<result property="lung" column="lung"/>
		<result property="kidney" column="kidney"/>
		<result property="note" column="note"/>
		<result property="prostate" column="prostate"/>
	</resultMap>
	
	
	<sql id="t_male_health_form_all_column">
		id,
		<include refid="t_male_health_form_all_column_no_id" />
	</sql>
	
	
	<sql id="t_male_health_form_all_column_no_id">
		emp_id,
		heart,
		liver,
		spleen,
		lung,
		kidney,
		note,
		prostate
	</sql>
	
	<insert id="addMaleHealthForm" parameterType="maleHealthForm" useGeneratedKeys="true"
		keyProperty="id" keyColumn="id">
		insert into t_male_health_form (
			<include refid="t_male_health_form_all_column_no_id" />
		)values(
			#{empId},
			#{heart},
			#{liver},
			#{spleen},
			#{lung},
			#{kidney},
			#{note},
			#{prostate}
		)
	</insert>
	
	
	<delete id="deleteMaleHealthForm" parameterType="int">
		delete from t_male_health_form
			where id = #{id}
	</delete>
	
	<update id="updateMaleHealthForm" parameterType="maleHealthForm">
		update t_male_health_form
			set  emp_id = #{empId},
				 heart = #{heart},
				 liver = #{liver},
				 spleen = #{spleen},
				 lung = #{lung},
				 kidney = #{kidney},
				 note = #{note},
				 prostate = #{prostate}
			where id = #{id}
	</update>
	
	
	<select id="getMaleHealthFormById" parameterType="int" resultMap="maleHealthFormMapper">
		select <include refid="t_male_health_form_all_column" /> 
			from t_male_health_form
			where id = #{id}
	</select>
	
	<select id="getMaleHealthFormByEmpId" parameterType="int" resultMap="maleHealthFormMapper">
		select <include refid="t_male_health_form_all_column" /> 
			from t_male_health_form
			where emp_id = #{empId}
	</select>
	
	
	<select id="getAllMaleHealthForm" resultMap="maleHealthFormMapper">
		select <include refid="t_male_health_form_all_column" /> 
			from t_male_health_form
	</select>
	
</mapper>