<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.test.mybatis.mapper.WorkCardMapper">

	<resultMap type="workCard" id="workCardMapper">
		<id property="id" column="id"/>
		<result property="empId" column="emp_id"/>
		<result property="realName" column="real_name"/>
		<result property="department" column="department"/>
		<result property="mobile" column="mobile"/>
		<result property="position" column="position"/>
		<result property="note" column="note"/>
	</resultMap>
	
	<insert id="addWorkCard" parameterType="workCard">
		insert into t_work_card (
			emp_id,
			real_name,
			department,
			mobile,
			position,
			note			
		) values(
			#{empId},
			#{realName},
			#{department},
			#{mobile},
			#{position},
			#{note}
			)
	</insert>


	<delete id="deleteWorkCard" parameterType="int">
		delete from t_work_card
			where id = #{id}
	</delete>

	
	<update id="updateWorkCard" parameterType="workCard">
		update t_work_card 
			set emp_id = #{empId},
				real_name = #{realName},
				department = #{department},
				mobile = #{mobile},
				position = #{position},
				note = #{note}
			where id = #{id}
	</update>


	<select id="getWorkCardByID" parameterType="int" resultMap="workCardMapper">
		select * from t_work_card
			where id = #{id}
	</select>
	
	<select id="getWorkCardByEmpId" parameterType="int" resultMap="workCardMapper">
		select * from t_work_card
			where emp_id = #{empId}
	</select>


	<select id="getAllWorkCard" resultType="workCard" resultMap="workCardMapper">
		select * from t_work_card
	</select>
	
		
	
</mapper>